<?xml version="1.0"?>
<config>
  <modules>
    <Belco_Widget>
      <version>0.1.0</version>
    </Belco_Widget>
  </modules>
  <global>
    <helpers>
      <belco>
        <class>Belco_Widget_Helper</class>
      </belco>
    </helpers>
    <blocks>
      <belco>
        <class>Belco_Widget_Block</class>
      </belco>
    </blocks>
    <models>
      <belco>
        <class>Belco_Widget_Model</class>
        <resourceModel>widget_mysql4</resourceModel>
      </belco>
    </models>
    <events>
      <customer_save_after>
        <observers>
          <customer_save_after_handler>
            <type>singleton</type>
            <class>belco/observer</class>
            <method>customerHook</method>
            <args/>
          </customer_save_after_handler>
        </observers>
      </customer_save_after>
      <sales_order_place_after>
        <observers>
          <sales_order_place_after_handler>
            <type>singleton</type>
            <class>belco/observer</class>
            <method>orderPlacedHook</method>
            <args/>
          </sales_order_place_after_handler>
        </observers>
      </sales_order_place_after>
      <sales_order_save_after>
        <observers>
          <sales_order_save_after_handler>
            <type>model</type>
            <class>belco/observer</class>
            <method>orderStatusChanceHook</method>
            <args/>
          </sales_order_save_after_handler>
        </observers>
      </sales_order_save_after>
      <admin_system_config_changed_section_settings>
        <observers>
          <widget>
            <type>singleton</type>
            <class>belco/observer</class>
            <method>systemConfigChangedHook</method>
            <args/>
          </widget>
        </observers>
      </admin_system_config_changed_section_settings>
    </events>
  </global>
  <admin>
    <routers>
      <sync>
        <use>admin</use>
        <args>
          <module>Belco_Widget</module>
          <frontName>belco</frontName>
        </args>
      </sync>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <belco>
          <file>belco.xml</file>
        </belco>
      </updates>
    </layout>
  </adminhtml>
  <frontend>
    <layout>
      <updates>
        <belco module="belco">
          <file>belco.xml</file>
        </belco>
      </updates>
    </layout>
  </frontend>
  <default>
    <settings>
      <general>
        <shop_id/>
        <api_secret/>
        <api_url>http://localhost:3100/</api_url>
      </general>
    </settings>
  </default>
</config>
